@{
    ViewBag.Title = "Chỉnh sửa tài liệu word " + ViewBag.Title; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Error = ViewBag.Error;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông Tin Tài Liệu</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="\Lessons\EditWord" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="ID" id="ID" value="@ViewBag.ParentId">
                                </div>
                                <div class="form-group">
                                    <label for="Name">File mới: </label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="file" id="file">
                                            <label class="custom-file-label" for="file">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Description">File cũ: </label>
                                    <a href="https://drive.google.com/uc?export=download&id=@ViewBag.FileOld">@string.Format("{0}{1}", @ViewBag.Lesson.Name, ".docx") <i class="fas fa-download"> </i> </a>
                                    <input type="hidden" name="fileOld" id="fileOld" value="@ViewBag.FileOld" />
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <div class="col-md-3"></div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
