@using ElearningSubject.Models
@{
    ViewBag.Title = ViewBag.Subject.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Users user = new Users();
    Users u = user.GetAll(Session["IDLogin"] + "").FirstOrDefault();
}
<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý môn @ViewBag.Subject.Name</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>*@
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách bài học</h3>
                        @if (!u.Roles.Equals("4"))
                        {
                            <a href="/Lessons/AddLesson/@ViewBag.Subject.ID"><i class="fas fa-plus-circle" style="padding-left:10px"></i></a>
                        }
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Mô tả</th>
                                    @if (!u.Roles.Equals("4"))
                                    {
                                        <th>Tình trạng</th>
                                        <th>Hành Động</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (dynamic)Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        @if (!u.Roles.Equals("4"))
                                        {
                                            <td>@item.StatusName</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Lessons", new { id = @item.ID })" title="Sửa">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>|
                                                <a style="color:red !important;" href="@Url.Action("Delete", "Lessons", new { id = @item.ID })" title="Xóa">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>

                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên</th>
                                    <th>Mô tả</th>
                                    @if (!u.Roles.Equals("4"))
                                    {
                                        <th>Tình trạng</th>
                                        <th>Hành Động</th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>